@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


$background:hsl(214, 64%, 98%);
$violet:hsl(265, 100%, 66%);
$pink:hsl(322, 100%, 66%);
$font-heading: 'Poppins', sans-serif;
$font-content: 'Open Sans', sans-serif;


*{
   box-sizing: border-box;
   
  
}

body{
    background-color: $background;
    font-size:18px;
    overflow-x:hidden;
    font-family:$font-content;
    
}
//background elements
#bg1{
    background:url('../images/desktop-bg.svg');
    background-repeat: no-repeat;
   height:930px;
   width:100%;
    position: absolute;;
    top:0%;
    right:-2%;
    z-index:-1;

}
//navbar
.navbar{
    margin-top: 20px;
    display:flex;
    justify-content:space-between;
    
}
.logo-img{
    height:25px;
    width:150px;
}
button{
    background:$background;
    padding:5px 15px 5px 15px;
    box-shadow:0 2px rgb(218, 206, 206);
    border:none;
    margin-right: 5px;
}
button a{
    text-decoration:none;
    color:$violet;
}

//hero section
.hero{
    margin-top:30px;
    text-align: center;
}
#illustration1{
    width:50%; 
    height:auto;
}
.hero-content{
   margin:0 auto;
    width:40%;
}
h2,h4{
    font-family: $font-heading;
}
.cta{
    background:$pink;
    border-radius:5px;
    padding:15px;
}
.cta a{
    color:#fff;
}
 a{
    color:#fff;
    text-decoration: none;
}

//features section
.features{
    margin-top:250px;
    display:flex;
    justify-content:space-around;
    align-items:center;

}
.sec-img{
    flex-basis:40%;
   
}
#illustration2{
    width:80%;
    height:auto;
}
.features-content{
  
    flex-basis:40%;
}

//call to action

.call-to-action{

    
    margin-top:200px;
    display:flex;
    justify-content: center;

    
    
}
.modal{
    text-align: center;
    background-color: #fff;
    padding:30px;
    box-shadow:0px 2px 4px rgb(122, 122, 122);
}

//footer
.footer{
    margin-top:150px;
    padding:50px;
    background:rgb(34, 34, 34);
    color:#fff;
  
    
    
}
.fourcolumn-footer{
    display:flex;
    align-items: baseline;
}


.email{
    margin-bottom:10px;
}
input[type=text]{
    border-radius:3px;
    border:none;

}
ul{
    list-style-type: none;
}
ul li{
    padding-bottom:10px;
}
#icons{
    flex:2;
}
#footermenu1{
    flex:1;
}
#footermenu2{
    flex:1;
}
#footermenu3{
    flex:1;
}


//MEDIA QUERIES

@media (max-width:768px){

    #bg1{
        background: url("../images/mobile-bg.svg");
        background-repeat: no-repeat;
    }
    #illustration1{
        width:80%; 
        height:auto;
    }
   .hero-content{
       width:80%;
   }

   .logo-img, #logofooter{
    height:20px;
    width:90px;
}

.features{
    margin-top:120px;
    flex-direction:column;
   text-align: center;
   padding:40px;
    
}
.call-to-action{
    margin-top:120px;
}
.modal{
    flex-basis:90%;
}
.cta{
    padding:10px;
}
ul{
    padding-left:0;
}
.fourcolumn-footer{
    flex-direction:column-reverse;
    align-items:center;
    text-align:center;
}
#logo{
    text-align:center;
}
   

}